@import url(https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css);

 

.landing-block {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
.landing-links {
    width: 100%;
    text-align: center;
  }

  * {
    font-family: Roboto, Helvetica, sans-serif;
  }

  body {
    
    background-color: hsl(190, 62%, 76%);
  }